# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation
# open "html"
<!DOCTYPE html>
<html>
<head>
<form>
<form action="index.php" enctype="multipart/form-data">
 Select a file to upload: <input type="file" name="selectedfile" />
</form>
